.login-box {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

.register-box {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #b67929;
}

.login-submit-button {
  margin-left: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background: #00243f;
  color: #b67929;
}

.sign-in {
  padding-top: 3%;
}

.footer {
  text-align: center;
  border-top: 2px solid black;
  background: #00243f;
  color: #b67929;
}

.login-register-button {
  margin-bottom: 5%;
}

.register-email-input {
  margin-left: 9%;
}

.register-button {
  margin-bottom: 5%;
}

.postdetail-img {
  width: 50%;
}

.posts-images {
  width: 300px;
  height: 400px;
}

.posts {
  display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 40px;
    width: 90vw;
}

.individual-posts {
  align-items: center;
    transition: all .25s;
    padding: 20px;
    margin: 10px 10px 60px;
    box-shadow: 0 0 3px 1px #cecece;
    text-align: center;
    color: #000;
}

.create-post {
  text-align: center;
  margin: 0% 30%;
  border: 1px solid black;
  margin-bottom: 5%;
}

.submit-button-post {
  padding: 5%;
}


.post-and-comment-div {
  display: flex;
  flex-flow: row wrap;
}

.create-comment-div {
  text-align: center;
  margin: 5% 30%;
  border: 1px solid black;
  padding-bottom: 2%;
}

.onePost {
  text-align: center;
}

.postcomments {
  padding-top: 7%;
}

.update-comment-div {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

.update-post-div {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}