@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.login-box {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

.register-box {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #b67929;
}

.login-submit-button {
  margin-left: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background: #00243f;
  color: #b67929;
}

.sign-in {
  padding-top: 3%;
}

.footer {
  text-align: center;
  border-top: 2px solid black;
  background: #00243f;
  color: #b67929;
}

.login-register-button {
  margin-bottom: 5%;
}

.register-email-input {
  margin-left: 9%;
}

.register-button {
  margin-bottom: 5%;
}

.postdetail-img {
  width: 50%;
}

.posts-images {
  width: 300px;
  height: 400px;
}

.posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 40px;
  width: 90vw;
}

.individual-posts {
  align-items: center;
  transition: all 0.25s;
  padding: 20px;
  margin: 10px 10px 60px;
  box-shadow: 0 0 3px 1px #cecece;
  text-align: center;
  color: #000;
  background-color: white;
}

.create-post {
  text-align: center;
  margin: 0% 30%;
  border: 1px solid black;
  margin-bottom: 5%;
}

.submit-button-post {
  padding: 5%;
}

.post-and-comment-div {
  display: flex;
  flex-flow: row wrap;
}

.create-comment-div {
  text-align: center;
  margin: 5% 30%;
  border: 1px solid black;
  padding-bottom: 2%;
}

.onePost {
  text-align: center;
}

.postcomments {
  padding-top: 7%;
}

.update-comment-div {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

.update-post-div {
  text-align: center;
  margin: 25% 30%;
  border: 1px solid black;
}

.img-input-update {
  margin-right: 5%;
}

.update-post-button {
  margin-bottom: 5%;
}

.text-update {
  margin-bottom: 5%;
}

@media (max-width: 375px) {
  .login-box {
    text-align: center;
    margin: 25% 15%;
    border: 1px solid black;
  }

  .sign-in {
    padding-top: 8%;
  }

  .register-box {
    text-align: center;
    margin: 25% 4%;
    border: 1px solid black;
  }

  .posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 40px;
    width: 90vw;
    padding: 0 5%;
  }

  .create-post {
    text-align: center;
    margin: 0% 25%;
    border: 1px solid black;
    margin-bottom: 5%;
  }

  .create-comment-div {
    text-align: center;
    margin: 5% 25%;
    border: 1px solid black;
    padding-bottom: 2%;
  }

  .submit-comment {
    margin-top: 5%;
  }

  .postcomments {
    padding: 36px 19%;
  }

  .update-post-div {
    text-align: center;
    margin: 25% 16%;
    border: 1px solid black;
  }

  .update-comment-div {
    text-align: center;
    margin: 25% 14%;
    border: 1px solid black;
  }
}

@media (max-width: 768px) {
  .postcomments {
    padding: 38px 34%;
  }
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
}

input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
	padding: 0.75rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 10%;
	position: relative;
}

.card-heading {
	text-align: center;
	margin-bottom: 0.5%;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}
.input + .input {
  margin-top: 1.5rem;
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: 0.25s ease;
}

.input {
	 display: flex;
	 flex-direction: column-reverse;
	 position: relative;
	 padding-top: 1.5rem;
}
 .input + .input {
	 margin-top: 1.5rem;
}
 .input-label {
	 color: #8597a3;
	 position: absolute;
	 top: 1.5rem;
	 transition: 0.25s ease;
}
 .input-field {
	 border: 0;
	 z-index: 1;
	 background-color: transparent;
	 border-bottom: 2px solid #eee;
	 font: inherit;
	 font-size: 1.125rem;
	 padding: 0.25rem 0;
}
 .input-field:focus, .input-field:valid {
	 outline: 0;
	 border-bottom-color: #b67929;
}
 .input-field:focus + .input-label, .input-field:valid + .input-label {
	 color: #b67929;
	 transform: translateY(-1.5rem);
}
 .action {
	 margin-top: 2rem;
}
 .action-button {
	 font: inherit;
	 font-size: 1.25rem;
	 padding: 1em;
	 width: 100%;
	 font-weight: 500;
	 background-color: #b67929;
	 border-radius: 6px;
	 color: #fff;
	 border: 0;
}
 .action-button:focus {
	 outline: 0;
}

.register-container {
  margin: 4% 0;
}

.login-container {
  margin: 3.5% 0;
}

.update-post-div-container {
  margin: 7% 0;
}

.update-comment-div-container {
  margin: 10% 0;
}

.card-info {
	 padding: 1rem 1rem;
	 text-align: center;
	 font-size: 0.875rem;
	 color: #8597a3;
}
 .card-info a {
	 display: block;
	 color: #b67929;
	 text-decoration: none;
}

.custom-btn {
  margin: 20px;
  outline: none;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #00243f;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* 10 */
.btn-10 {
  transition: all 0.3s ease;
  overflow: hidden;
  color: #b67929;
}

.cmnts-btn {
  font-size: 63%;
}

.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-10:hover {
  color: #00243f;
}
.btn-10:hover:after {
  background: #b67929;
  -webkit-transform: scale(1);
  transform: scale(1);
}